{
  "root": true,
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": false
  },
  "rules": {
    "indent": [
      2,
      4
    ],
    "max-len": [
      0
    ],
    "no-param-reassign": [
      0
    ],
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_server"
        ]
      }
    ]
  }
}